@import '.config/wofi/colors.css';

@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

window {
  margin: 0;
  padding: 10px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  border-radius: 0.5em;
  border: 2px solid @accent_secondary;
  background-color: @base;
}

#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  animation: fadeIn 0.3s ease-in-out both;
  background-color: @base;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

#input image {
  border: none;
  color: @error;
}

#input * {
  outline: 4px solid @error;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @accent_secondary;
}

#entry:selected {
  border: 0.11em solid @accent_secondary;
}

#entry:selected #text {
  color: @accent;
}

#entry:drop(active) {
  background-color: @accent_secondary;
}
