@define-color	rosewater  #f4dbd6;
@define-color	flamingo  #f0c6c6;
@define-color	pink  #f5bde6;
@define-color	mauve  #c6a0f6;
@define-color	red  #ed8796;
@define-color	maroon  #ee99a0;
@define-color	peach  #f5a97f;
@define-color	yellow  #eed49f;
@define-color	green  #a6da95;
@define-color	teal  #8bd5ca;
@define-color	sky  #91d7e3;
@define-color	sapphire  #7dc4e4;
@define-color	blue  #8aadf4;
@define-color	lavender  #b7bdf8;
@define-color	text  #cad3f5;
@define-color	subtext1  #b8c0e0;
@define-color	subtext0  #a5adcb;
@define-color	overlay2  #939ab7;
@define-color	overlay1  #8087a2;
@define-color	overlay0  #6e738d;
@define-color	surface2  #5b6078;
@define-color	surface1  #494d64;
@define-color	surface0  #363a4f;
@define-color	base  #24273a;
@define-color	mantle  #1e2030;
@define-color	crust  #181926;

@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

window {
  margin: 0;
  padding: 10px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  border-radius: 0.5em;
  border: 2px solid @lavender;
  background-color: @base;
}

#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  animation: fadeIn 0.3s ease-in-out both;
  background-color: @base;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

#input image {
  border: none;
  color: @red;
}

#input * {
  outline: 4px solid @red;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @lavender;
}

#entry:selected {
  border: 0.11em solid @lavender;
}

#entry:selected #text {
  color: @mauve;
}

#entry:drop(active) {
  background-color: @lavender;
}
